

<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
      <!-- Search box -->
    <app-shared-search-box
      [initialValue]="initialValue"
      (onDebounce)="searchByCountry($event)"
      placeholder='Buscar por país'>
    </app-shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <app-shared-loading-spinner  [searchWord]="'Buscando por país'" *ngIf="isLoading"> </app-shared-loading-spinner>

    <app-countries-table  [errorMessage]="'No hay paises por mostrar'" [countries]="countries"></app-countries-table>
  </div>
</div>
