

<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <app-shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder='Buscar por capital'>
    </app-shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <app-shared-loading-spinner [searchWord]="'Buscando por capital'" *ngIf="isLoading"></app-shared-loading-spinner>

    <app-countries-table [errorMessage]="'No hay paises por mostrar'" [countries]="countries"></app-countries-table>
  </div>
</div>

